= simple_form_for @company do |f|
  = f.input  :name
  = f.input  :description
  = f.input  :address1
  = f.input  :address2
  = f.input  :city
  = f.input  :state
  = f.input  :zipcode
  = f.input  :phone
  = f.input  :email
  = f.button :submit
